$background: #2d2d2d;

body{
  margin: 0;
  
}

*{
  transition-property: all;
  transition-duration: 0.6s;
  transition-timing-function: ease;
}

@media (max-width: 1000px){

  #chordRecognition{
    height: 90vh;
    margin: 0;
    background-color: $background;
    display: grid;
    grid-template-rows: 2fr 4fr 2fr;
  }

  .tempPlayButton {
    margin: auto;
    height: 6vh;
    cursor: pointer;
  }
  
  .answerContainer {
    // width: 80vw;
    padding-left: 9vw;
    padding-right: 9vw;
    display: inline-flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    // align-content: flex-end;
  }
  
  .answerCircle{
    border-radius: 50%;
    color: #FFF;
    background: lighten($background,2%);
  
    width: 12vh;
    height: 12vh;
    line-height: 12vh;
    font-size: 3vh;
    margin: 1vh;
    border: 0.2vh solid white;
  
    overflow: hidden;
    font-family: 'Nunito', sans-serif;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
  }

  .answerCircle:hover{
    background: lighten($background,10%);

  }

  //////////////////////////////////////
  // LAPTOP
  /////////////////////////////////////
}

@media (min-width: 1001px){

  #chordRecognition{
    height: 90vh;
    margin: 0;
    background-color: $background;
    display: grid;
    grid-template-rows: 4fr 5fr 2fr;
  }

  .tempPlayButton {
    margin: auto;
    height: 8vh;
    cursor: pointer;
  }

  .answerContainer {
    padding-left: 29vw;
    padding-right: 29vw;
    display: inline-flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .answerCircle{
    border-radius: 50%;
    color: #FFF;
    background: lighten($background,2%);

    cursor: pointer;

    width: 17vh;
    line-height: 17vh;
    font-size: 4vh;
    margin: 1.5vh;
    border: 0.2vh solid white;

    overflow: hidden;
    font-family: 'Nunito', sans-serif;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
  }

  .answerCircle:hover{
    background: lighten($background,10%);
    letter-spacing: 3px;

  }

}









