$background: #2d2d2d;

body{
  margin: 0;
  
}


@media (max-width: 1000px){

  #chordRecognition{
    height: 91vh;
    margin: 0;
    background: linear-gradient(0deg, rgba(45,45,45,1) 0%, rgba(45,45,45,1) 97%, rgba(0,0,0,1) 100%);
    display: grid;
    grid-template-rows: 2fr 4fr 2fr;
  }

  .tempPlayButton {
    margin: auto;
    height: 11vh;
    padding-top: 5vh;
    cursor: pointer;
  }
  
  .answerContainer {
    // width: 80vw;
    padding-left: 9vw;
    padding-right: 9vw;
    display: inline-flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    // align-content: flex-end;
  }
  
  .answerCircle{
    border-radius: 50%;
    color: #FFF;
    background: lighten($background,4%);
  
    width: 12vh;
    height: 12vh;
    line-height: 12vh;
    font-size: 3vh;
    margin: 1vh;
    border: 0.2vh solid white;
  
    overflow: hidden;
    font-family: 'Nunito', sans-serif;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
  }

  .answerCircle:hover{
    background: lighten($background,10%);

  }

  //////////////////////////////////////
  // LAPTOP
  /////////////////////////////////////
}

@media (min-width: 1001px){

  *{
    transition-property: all;
    transition-duration: 0.6s;
    transition-timing-function: ease;
  }

  #chordRecognition{
    height: 91vh;
    margin: 0;
    background: linear-gradient(0deg, rgba(45,45,45,1) 0%, rgba(45,45,45,1) 97%, rgba(0,0,0,1) 100%);
    // background: hsl(293, 100%, 73%);
    text-align: center;
  }

  .tempPlayButton {
    height: 13vh;
    cursor: pointer;
    padding-bottom: 20px;
    padding-top: 40px;
    display: block;
    margin: auto;
  }

  .tempPlayButton:hover{
    // filter: 
    // invert(0.5)
    // sepia(1)
    // hue-rotate(200deg)
    // saturate(4)
    // brightness(0.2);
  }

  .answerContainer {
    // opacity: .1;
    width: 880px;
    display: inline-flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .answerCircle{
    border-radius: 50%;
    color: #FFF;
    background: lighten($background,4%);

    cursor: pointer;

    width: 17vh;
    line-height: 17vh;
    font-size: 4vh;
    margin: 10px;
    border: 1px solid white;

    overflow: hidden;
    font-family: 'Nunito', sans-serif;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
  }

  .answerCircleCorrect{
    border-radius: 50%;
    color: #FFF;
    background: rgba(0, 250, 250, 0.534);

    cursor: pointer;

    width: 17vh;
    line-height: 17vh;
    font-size: 4vh;
    margin: 10px;
    border: 1px solid white;

    overflow: hidden;
    font-family: 'Nunito', sans-serif;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
  }

  .answerCircle:hover{
    background: lighten($background,10%);
    letter-spacing: 3px;

  }

}


#testingLink{
  display: inline-block;
  width: 50%;
  margin: auto;
}









