.header {
    margin: 0;
    height: 8vh;
    /* background: linear-gradient(0deg, rgba(254,255,255,1) 26%, rgba(203,203,203,1) 100%); */
    background: #dbdbdb;
    background: #1b1b1b;

    display: flex;
    align-items: center;
    justify-content: center;
}

#homeIcon {
    position: absolute;
    padding-top: 2.2vh;
    margin-left: 4.5vw;
    height: 7.2vh;
}


#headerTitle {
    /* font-family: 'myFirstFont',Helvetica,'Helvetica Neue',Arial,sans-serif; */
    font-family: 'Comfortaa', cursive;
    font-size: 3.2vh;
    color: #2d2d2d;
    color: #dbdbdb;
    padding-top: 1vh;
    letter-spacing: -.05vw;
    /* letter-spacing: 0vw; */

    cursor: default;
}

#logoutIcon{
    position: absolute;
    padding-top: 2vh;
    margin-left: 96vw;
    height: 6vh;
}

#userNameHeader{
    color: #dbdbdb;

    position: absolute;
    padding-top: 1.5vh;
    margin-left: 89vw;
    height: 6vh;
    font-family: 'myFirstFont',Helvetica,'Helvetica Neue',Arial,sans-serif;

}


@media (max-width: 800px){

    #homeIcon{
        margin-left: 3vw;
    }

    #headerTitle{
        font-size: 4vh;
        letter-spacing: -.5vw;
    }

    #logoutIcon{
        height: 0.1vh;
    }

    #userNameHeader{
        font-size: 0.1vh;
    }

}
