.header {
    margin: 0;
    height: 10vh;
    background: linear-gradient(0deg, rgba(254,255,255,1) 26%, rgba(203,203,203,1) 100%);
    display: flex;
}

#homeIcon {
    position: absolute;
    padding-top: .2vh;
    margin-left: 30vw;
    height: 10vh;
}


#headerTitle {
    margin: auto;
    /* font-family: 'myFirstFont',Helvetica,'Helvetica Neue',Arial,sans-serif; */
    font-family: 'Comfortaa', cursive;
    font-size: 5vh;
    color: #2d2d2d;
    padding-top: 1vh;
    letter-spacing: -.1vw;
    /* letter-spacing: 0vw; */

    cursor: default;
}

#logoutIcon{
    position: absolute;
    padding-top: 2vh;
    margin-left: 85vw;
    height: 7vh;
}

#userNameHeader{
    position: absolute;
    padding-top: 2vh;
    margin-left: 89vw;
    height: 7vh;
    font-family: 'myFirstFont',Helvetica,'Helvetica Neue',Arial,sans-serif;

}


@media (max-width: 1000px){

    #homeIcon{
        margin-left: 3vw;
    }

    #headerTitle{
        font-size: 5vh;
        letter-spacing: -.5vw;
    }

}
