.header {
    margin: 0;
    height: 10vh;
    background-color: rgb(171, 228, 250);
    display: flex;
    /* justify-content: center;
    justify-content: space-evenly; */
}

#headerTitle {
    margin: 0;
    font-family: 'myFirstFont',Helvetica,'Helvetica Neue',Arial,sans-serif;
    font-size: 10vh;
    color: #2d2d2d;

}

#homeIcon {
    height: 11vh;
    cursor: pointer;

}

