@import url("https://fonts.googleapis.com/css?family=Poppins:100,300,400,500,600,700,800, 800i, 900&display=swap");
@font-face {
  font-family: "myFirstFont";
  src: url("BIG JOHN.otf");
}

#homePage {
  height: 90vh;
  width: 100vw;
  margin: 0;
  background: -webkit-gradient(linear, left bottom, left top, from(#2d2d2d), color-stop(97%, #2d2d2d), to(black));
  background: linear-gradient(0deg, #2d2d2d 0%, #2d2d2d 97%, black 100%);
  font-family: 'myFirstFont',Helvetica,'Helvetica Neue',Arial,sans-serif;
}

#cardsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container {
  position: relative;
  padding: 20px;
}

.container .card {
  position: relative;
  width: 18vw;
  height: 25vh;
  background: #232323;
  border-radius: 20px;
  overflow: hidden;
  -webkit-box-shadow: 0 0 10px black, 0 0 7px #000000 inset;
          box-shadow: 0 0 10px black, 0 0 7px #000000 inset;
}

.container .card:hover {
  -webkit-transition: .3s;
  transition: .3s;
  -webkit-box-shadow: 0 0 18px #fffdfd, 0 0 7px #000000 inset;
          box-shadow: 0 0 18px #fffdfd, 0 0 7px #000000 inset;
}

.container .card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #1BBFE9;
  -webkit-clip-path: circle(1px at 100% 1%);
          clip-path: circle(1px at 100% 1%);
  -webkit-transition: 0.7s ease-in-out;
  transition: 0.7s ease-in-out;
}

.container .card:hover:before {
  -webkit-clip-path: circle(500px at 80% -20%);
          clip-path: circle(500px at 80% -20%);
}

.container .card:after {
  content: "111";
  position: absolute;
  top: 30%;
  left: -20%;
  font-size: 27vh;
  font-weight: 800;
  font-style: italic;
  color: rgba(255, 255, 255, 0.014);
}

.container .card .imgBx {
  position: absolute;
  top: 70%;
  -webkit-transform: translateY(-75%);
          transform: translateY(-75%);
  z-index: 1000;
  width: 100%;
  height: 100%;
  -webkit-transition: .5s;
  transition: .5s;
}

.container .card:hover .imgBx {
  top: 0%;
  -webkit-transform: translateY(-20%);
          transform: translateY(-20%);
  opacity: 0;
  /* bug  */
}

.container .card .imgBx img {
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 16vh;
  opacity: 1;
}

.container .card .contentBx {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 14vh;
  text-align: center;
  -webkit-transition: .5s;
  transition: .5s;
  z-index: 90;
}

.container .card:hover .contentBx {
  height: 36vh;
}

.container .card .contentBx h2 {
  color: #fff;
  opacity: 1;
  padding-top: 2vh;
}

.container .card:hover .contentBx h2 {
  -webkit-transition: .2s;
  transition: .2s;
  opacity: 0;
}

.container .card .contentBx .links {
  -webkit-transition: .2s;
  transition: .2s;
  visibility: hidden;
  opacity: 0;
}

.container .card:hover .contentBx .links {
  opacity: 1;
  visibility: visible;
  -webkit-transition-delay: .2s;
          transition-delay: .2s;
}

#levelUpLink {
  font-size: 30px;
  color: white;
}

#practiceLink {
  font-size: 30px;
  color: white;
}

#intervalsCard {
  font-size: 2.7vw;
  letter-spacing: 0px;
}

#chordsCard {
  font-size: 3vw;
  letter-spacing: .1vw;
}

#modesCard {
  font-size: 3vw;
  letter-spacing: .1vw;
}

.circular-chart {
  padding-top: 6vh;
  padding-bottom: 2vh;
  max-height: 330px;
}

.circle-bg {
  fill: none;
  stroke: #222;
  stroke-width: 1.5;
}

.circle {
  fill: none;
  stroke-width: 1.9;
  stroke-linecap: round;
  -webkit-animation: progress 2s ease-out forwards;
          animation: progress 2s ease-out forwards;
}

@-webkit-keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}

.circular-chart.orange .circle {
  stroke: #900c3f;
}

.percentage {
  font-family: 'myFirstFont',Helvetica,'Helvetica Neue',Arial,sans-serif;
  fill: white;
  font-size: 0.4em;
  text-anchor: middle;
}
/*# sourceMappingURL=homepageStyles.css.map */